<div class="main">
    <h2>Welcome {{username}}</h2>
    <hr>
    <!-- <div class="card" style="width: 10rem; height: 18rem;">
        <img class="card-img-top" style="width: 9.8rem; height: 10rem;" src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-employee-find-search-icon-design-for-web-png-image_5225666.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: medium;" [(ngModel)]="empCount"  >Total Employees: {{empCount}}  </h5>
          <a class="btn btn-primary" style="font-size: small; color: white;" (click)="getEmployees()">View All</a>
        </div>
      </div> -->
      <div class="card-deck"> 
            <div class="card text-white bg-primary mb-3" style="max-width: 13rem;max-height: 15rem;">
                <div class="card-header" >
                  <h5 class="card-title" style="font-size: 20px; ">Employees</h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="font-size: medium;" [(ngModel)]="empCount">Total Employees: {{empCount}} </h5>
                  <a class="btn btn-light" style="font-size: small; color: #007bff;" (click)="getEmployees()">View All</a>
                </div>  
            </div>

            <div class="card text-white bg-info mb-3" style="max-width: 13rem;max-height: 15rem;">
              <div class="card-header" >
                <h5 class="card-title" style="font-size: 20px; ">New Hires</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="font-size: medium;" [(ngModel)]="newHireCount">Total New Hires: {{newHireCount}} </h5>
                <a class="btn btn-light" style="font-size: small; color: #17a2b8;" (click)="goToNewHires()">View All</a>
              </div>  
          </div>

          <div class="card text-white bg-warning mb-3" style="max-width: 13rem;max-height: 15rem;">
            <div class="card-header" >
              <h5 class="card-title" style="font-size: 20px; ">Department</h5>
            </div>
            <div class="card-body">
              <h5 class="card-title" style="font-size: medium;" [(ngModel)]="departmentCount">Total Departments: {{departmentCount}} </h5>
              <a class="btn btn-light" style="font-size: small; color: rgb(83, 83, 8)" (click)="goToDepartments()">View All</a>
            </div>  
        </div>
      </div>
</div>